//footer1
.footer{
    background: $dark-color;
    color: white;
    margin-top: 5%;
    
    
    top: 0;
    &__content{
      display: flex;
      justify-content: space-between;
      padding: 4rem 0;
      margin: 0 10vh;
      @media (max-width: $phone) {
        display: grid;
        grid-template-columns: 1fr;
      }


    &__copy{
      display: flex;
      flex-direction: row;
        
      img{
        max-width: 5rem;
        max-height: 5rem;
        margin-right: 3rem;
        background: white;
      }
    }
      .social{
        @media (max-width: $phone) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          align-items: center;
          
          .fab{
            margin-bottom: 20px;
          }
        }
        .fab{
        margin-right: 1rem;
        border: 0.1rem solid white;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        padding: 0.5rem;
  
        &:hover{
          background-color: lightseagreen;
        }
        }
  
    }
      
    }
    
  }