@import "bootstrap/scss/bootstrap";

.historia {
  margin: 5vh 10%;
  @media (max-width: $phone) {
    margin: 5% 5%;
  }
  &-activities{




    container-type: inline-size;
    container-name: activity;
  }

  &-activity{
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;

    align-items: center;
    color: $white;
    
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      .historia-activity__description {
        margin: 0;
        
      }
    }

    .historia-activity__description {
      padding: 3vh;
      width: 100%;
      
    }



    &:nth-child(1){
     
      .historia-activity__description {
        background-color: $blue;
    }
  }
    &:nth-child(2){
      
      .historia-activity__description {
        background-color: $green;
        
      }
    }

    &:nth-child(3){
      
      .historia-activity__description {
        margin-left: 5vh;
        background-color: $morat;


      }
    }

    &:nth-child(odd){
      .historia-activity__description {
        margin-right: 5vh;
        @media (max-width: $tablet) { 
            margin: 0;
            
        }
      }
      flex-direction: row;
      @media (max-width: $tablet) { 
        flex-direction: column-reverse;
        
    }
    }


    &:nth-child(even){
      flex-direction: row-reverse;

      @media (max-width: $tablet) { 
        flex-direction: column-reverse;
        
    }
      .historia-activity__description {
        margin-left: 5vh;
        flex-direction: column-reverse;
        @media (max-width: $tablet) { 
          margin: 0 2.5vh;
          
      }
      }
    }
    @media (max-width: $tablet) {
     

        &:nth-child(odd), &:nth-child(even) {
          flex-direction: column-reverse;
        }

     
    }


    .historia__description{
      flex: 1;
      flex-direction: column;
      padding: 0 20px;
      background-color: #f0f0f0;
      align-items: center;
      justify-content: center;
      text-align: center;
      
    }

    .historia__heading{
      margin-bottom: 2vh;
      text-align: center;
    }
    .historia__image{
      flex: 1;

      max-width: 100px;

 
    }

  }


  &__cites {
    margin: 0 15%;

    &__quote {
      padding: 1rem;
      margin: 1rem 0;
      border-left: 5px solid $gray;
      font-family: $font-family-Comic;

      &-fuster {
        font-style: italic;
      }
    }
  }

  &__viatjar {
    width: 100%;

    &-description {
      font-family: $font-family-TitilliumWeb;
      margin-bottom: 2rem;
    }

    &__planning {
      @media (max-width: $tablet) {
        flex-direction: column;
    }
      &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2.5% 0;
      }

      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @media (max-width: $phone) {
          flex-direction: column;
        }

        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 3.5%;

          &:hover {
            background-color: $claret; 
            transform: translateY(-15px), scale(110%) 3s ease;
            color: $blue;
          }

          &__icon {
            margin-bottom: 20px;
          }

          &__text {
            font-weight: bold;
          }
        }
      }
    }
  }

  &__demografia {
    margin: 0 15% 5% 15%;
  }
}

.historia__articles__contenidor {
  .historia__articles__contenidor__activitats {
    &:where(:nth-child(odd)) .historia__articles__contenidor__activitats__text {
      background-color: $uoc-masterbrand; // Color para los elementos impares
    }

    &:where(:nth-child(even)) .historia__articles__contenidor__activitats__text {
      background-color: $light-green; // Color para los elementos pares
    }
  }
}

@media (max-width: $phone) {
  #demografiaChart {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
  }
}

.historia {
  &__concurs {
    
    justify-content: center;
    margin-bottom: 2vh; // Añadiendo el margen inferior aquí



    &__header {
      text-align: center;

      .historia__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .historia__title-word {
          margin-right: 8px;
          &:last-child{
            margin-right: 0;
          }
          @for $i from 1 through 8 {
            &--#{$i} {
              animation: animacioArcoiris 4s + $i * 0.25s infinite linear;
            }
          }
        }
      }
    }



    &__paragraph, &__quote, &__quote-text {
      margin-bottom: 2vh; 
    }
  }
}

.cita-personatge,
.cita-famos {
  margin-left: 10px;
  font-style: italic;
  color: #555;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
  border-left: 3px solid $orange;
  padding-left: 20px;

  &.nom-personatge {
    font-weight: bold;
  }
}

.cita-personatge{
  margin-left: 10xp;
}

.cita-famos {
  font-style: italic;
  color: #555;
  margin-left: 10xp;
}

:is(blockquote.cita-famos, blockquote.cita-personatge) {
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

:where(blockquote.cita-famos, blockquote.cita-personatge) {
  border-left: 3px solid $orange;
  margin-left: 20px;
}

blockquote.cita-personatge:has(.nom-personatge) {
  font-weight: bold;
  color: $tomaca
}

.historia__articles__contenidor__activitats__text p:has(> span) {
  color: green; 
}



@supports (container-type: inline-size) {
 

  @container activity (max-width: 250px) {
    .historia-activity__image{
      img{
        height: auto;
        width: 200px;
      }
    }


  }
  @container activity  (min-width: 250px) and (max-width: 400px) {
    .historia-activity__image{
      img{
        height: auto;
        width: 350px;
      }
    } 
 
  }
  @container activity  (min-width: 400px) and (max-width: 500px) {
    .historia-activity__image{
      img{
        height: auto;
        width: 400px;
      }
    } 
 
  }

  @container activity  (min-width: 600px) and (max-width: 700px) {
    .historia-activity__image{
      img{
        height: auto;
        width: 400px;
      }
    } 
 
  }

  @container activity  (min-width: 700px)  {
    .historia-activity__image{
      img{
        height: auto;
        width: 700px;
      }
    }

  
  }
}