.home {
  display: grid;
  max-height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1.5fr 1fr 3fr 1fr;
  grid-template-areas:
    "home__a home__a home__b"
    "home__a home__a home__b"
    "home__a home__a home__c"
    "home__d home__d home__c";

  @media(max-width: $tablet) {
    display: flex;
    flex-direction: column;
    max-height: none;
  }

  &__a { 
    grid-area: home__a; 

    @media(max-width: $phone) {
      opacity: 0.7;
    }

    img {
      width: 100%;
      max-height: 60vh;

      @media(max-width: $phone) {
        width: 100vw; 
        max-height: none;
      }
    } 
  }

  &__b { 
    background-color: $color-secundari;
    grid-area: home__b;
    font-size: 0.8rem;
    font-family: $font-family-TitilliumWeb;
    text-align: center;
    justify-content: center;
    align-items: center;

    &__text {
      display: block;
      position: relative;
      font-size: 1.3rem;
      animation: moveVertical 5s linear infinite;

      @media(max-width: $phone) {
        animation: none;
      }

      @supports (container-type: inline-size) {
        container-type: inline-size;
        
        @container (max-width: 150px) {
          &__text {
            font-size: 0.9rem;
          }
        }
        @container (min-width: 150px) and (max-width: 200px) {
          &__text {
            font-size: 1.5rem;
          }
        }
        @container (min-width: 200px) and (max-width: 250px) {
          &__text {
            font-size: 2rem;
          }
        }
        @container (min-width: 250px) and (max-width: 300px) {
          &__text {
            font-size: 2.7rem;
          }
        }
        @container (min-width:300px) and (max-width: 400px) {
          &__text {
            font-size: 3rem;
          }
        }
        @container (min-width: 400px) {
          &__text {
            font-size: 4rem;
          }
        }
      }

      line-height: 1.5; 
      justify-content: start;
      text-align: center; 

      &__1, &__2 {
        display: inline-block; 
      }

      &__1 {
        animation: gamaGris 4s infinite linear;
      }

      &__2 {
        animation: gamaGris 6s infinite linear; 
      }
    }
  }

  &__c { 
    grid-area: home__c;
    background-color: $graylight;
    max-height: 100%;

    &__container {
      padding: 5%;

      &__h2 {
        font-size: 1.2rem;
      }
    } 
  }

  &__d { 
    grid-area: home__d;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: 25px;

    i {
      font-size: 24px; 
      padding: 0 10px; 
      animation: moveX 40s linear infinite;

      &:hover {
        transform: scale(110%);
      }
    } 
  }
}






/*
.home {
  display: grid;
  max-height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1.5fr 1fr 3fr 1fr;
  grid-template-areas:
    "home__a home__a home__b"
    "home__a home__a home__b"
    "home__a home__a home__c"
    "home__d home__d home__c";

    @media(max-width: $phone){
      display: flex;
      flex-direction: column;
      max-height: none;
    }

    &__a { grid-area: home__a; 
      @media(max-width: $phone){
        
        opacity: 0.7;
      }
      
    img{
      
      width: 100%;
      max-height: 60vh;
      @media(max-width: $phone){
        
        width: 100vw; 
        max-height: none
      }
      
      
      
    }
  
  
  };
    &__b { 
      background-color: $color-secundari;
      grid-area: home__b;
      font-size: 0.8rem;
      font-family: $font-family-TitilliumWeb;
      text-align: center;
      justify-content: center;
      align-items: center;
      &__text{
        display: block;
        position: relative;
        font-size: 1.3rem;
        animation: moveVertical 5s linear infinite;
        @media(max-width: $phone){

          animation: none
        }


        line-height: 1.5; 
        justify-content: start;
        text-align: center;
        &__1, &__2 {
          display: inline-block; 
          
        }
      
        &__1 {
          animation: gamaGris 4s infinite linear;
        }
      
        &__2 {
          animation: gamaGris 6s infinite linear; 
        }
      }
    
    };
    &__c { grid-area: home__c;
    background-color: $graylight;
    max-height: 100%;
  &__container{
    padding: 5%;
    &__h2{
      font-size: 1.2rem;
    }
  } };
    &__d { grid-area: home__d;
    
     
        
         
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        margin-top: 25px;
        
        i {
          font-size: 24px; 
          
          padding: 0 10px; 
          animation: moveX 40s linear infinite;
          &:hover{
            transform: scale(110%);
          }
        }
        
        

      } ;
   
}
*/



