@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  0%{ border-color: transparent; }
  50% { border-color: black; }
  100%{ border-color: transparent; }
}


  
  .VallGallinera__h1 {
    margin: 4% 0;
 
    text-align: center;
    font-size: 2.5rem;
    font-family: $font-family-Comic; 
    white-space: nowrap; 
    overflow: hidden; /* Oculta el text fora del contenidor */
    border-right: .15em solid transparent; /* Simula el cursor parpadejant */
    width: 0; 
    animation: typing 6s steps(30, end) forwards, blink-caret .5s step-end 5;
    @media (max-width: $phone) {
      font-size: 1.6rem;
    }
    
  }
  




  .formulari{
    margin: 5% 75%;
  background: $white;
  background: linear-gradient(to right, $cirera,$light-color, $white);

  @media (max-width: $tablet) {
    background: $gray;
    color: $white;
    font-family: $font-family-Comic;
    font-weight: 400;
    font-size: 1.2rem;
  }
  border-radius: 20px;
  &__image-container{
    background-image: url(../images/Gallinera/cherry-105141.svg);
    background-position: center center;
    background-repeat: no-repeat;
    
  }

  &__container2{
    margin: 3vh
  }
}

.VallGallinera__Pobles{
  
  &__Poble{
    border-radius: 15%;
    &__img{
  width: 100%;  
} 
}
}
.VallGallinera__Pobles{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vh;

  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  container-type: inline-size;
  container-name: cardsGallinera;
  
}


.location__contact {
 
  &__title {
    color: #333; 
    margin-bottom: 1rem; 
    font-size: 1.5rem; 
    font-weight: bold; 
  }

  &__list {
    
    list-style-type: none; 
    padding-left: 0; 
    margin-top: 1rem; 
  }

  &__item {
    
    margin-bottom: 0.5rem; 
  }

  &__link {
    
    color: #007bff; 
    font-weight: 500; 
    text-decoration: none; 

    &:hover, &:focus {
    
      text-decoration: none; 
      color: #0056b3; 
    }
  }
}
.location {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 0 150px;
    gap: 5vh;



    @media (max-width: $tablet) { 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0;
      padding: 0;

      &__logo, &__map, &__contact {
        width: 100%; 
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
        

      }
    }
  }
}

.VallGallinera__Galeria{
  margin: 2% 25%;
  @media (max-width: $tablet) {
    margin: 2% 5%;
  }
  &__slider{
    &__container{
      &__images{
        img{


          
        }
      }
    }
  }
}

.Vall_info__text__h4 {
  text-align: center;
  animation: deEsquerraADreta 4.2s linear;
  margin: 2.5% 0;
}

@keyframes deEsquerraADreta {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@supports (container-type: inline-size) {
 

  @container cardsGallinera (min-width: 200px) {
    .VallGallinera__Pobles__Poble__img{
      height: 150px;
    }
  }

  @container  cardsGallinera (min-width: 200px) and (max-width: 300px) {
    .VallGallinera__Pobles__Poble__img{
      height: 200px;
    }
    }
    @container  cardsGallinera (min-width: 300px) and (max-width: 400px) {
      .VallGallinera__Pobles__Poble__img{
        height: 300px;
      }
      }

  @container home  (max-width: 400px) {
    .VallGallinera__Pobles__Poble__img{
      height: 400px;
    }
    }
}



