    <!-- Header -->
    <header  class="header">
      <div class="container">
        <nav class="header__nav">
            
            <ul>
              <li><a href="#home-a">Inici</a></li>
              <li><a href="#home-b">Llocs</a></li>
              <li><a href="#home-c">Dades</a></li>
              <li><a href="#home-f">Galeria</a></li>
              <li><a href="#home-d">FAQs</a></li>
    
            </ul>
        </nav>
          <div class="header__content">
            <h1 class="header__content__h1">San Francisco</h1>
            <p class="lead">
              Una ciutat per visitar
            </p>
            <a href="" class="boto-light">
              Vore els llocs
            </a>
          </div>       
      </div>
      
    </header>
    <main>