<section id="home-g" class="home-g " >   
    <div id="Formulari">
      <h2>Formulari de contacte</h2>
      <form id="contact-form" class="home-g__form">
        <label for="nom">Nom:</label>
        <div class="home-g__form__container">
        <i class=" fa-solid fa-user"></i>
        <input type="text" id="nom" name="nom" class="home-g__form__container__field" placeholder="Nom" required>
        </div>         
        <p id="error-nom" class=""></p>



        <label for="telefon">Telèfon:</label>
        <div class="home-g__form__container">
        <i class=" fa-solid fa-phone"></i> 
        <input type="tel" id="telefon" name="telefon" class="home-g__form__container__field" placeholder="6XXXXXXXX" required>
        </div>
        <p  id="error-telefon" class="" ></p>

        <label for="email">Email:</label>
        <div class="home-g__form__container">
        <i class=" fa-solid fa-envelope"></i>
        <input type="email" id="email" name="email" class="  home-g__form__container__field" placeholder="exemple@exemple.com" required>
        </div>
        <p id="error-email" class="" ></p>
     
        <button type="button" id="submit-btn" class="button" disabled>Enviar</button>
      
        <p id="form-Wiew" class="Noopacity">Les seues dades han estat registrades de forma correcta</p>
      </form>
    </div>
  </section>