<section id="home-a" class="home-a" class="text-center padding-2">
  <div class="container">
    <h2 class="section-title">
      Llocs recomanats
    </h2>
    <div class="boto-line"> </div>
    <blockquote class="text-center">
      <p>"San Francisco te un sol un defecte: es difícil anar-se'n."</p>
      <cite>Rudyard Kipling</cite>
    </blockquote>

    <div class="home-a__specials">
        <div>
          <img src="./assets/images/chinatown.jpg" alt="China Town" class="special-icon">
          <h3 class="text-center">China Town</h3>
          <p >
            Visitar Chinatown a San Francisco és una experiència cultural única que et submergeix en la vibrant comunitat xinesa.  
          </p>
          
        </div>
        <div>
          <img src="./assets/images/alcatraz-ImatgeGeneral.jpg" alt="Alcatraz" class="special-icon">
          <h3 class="text-center">Alcatraz</h3>
          <p>
            Visiteu Alcatraz per explorar la seva història intrigant com a antiga presó federal i gaudir de les impressionants vistes de la badia de San Francisco. 
          </p>
        </div>

        <div>
          <img src="./assets/images/Pont_Golden_Gate_Park_1.jpeg" alt="Pont Golden Gate" class="special-icon">
          <h3 class="text-center">Golden Gate Park</h3>
          <p>
            El Golden Gate Park és un dels parcs urbans més grans i reconeguts de tot el món, ocupa una àrea de més de 4 km².  
          </p>
        </div>

        <div>
          <img src="./assets/images/Barri_Castro_PasZebra2.jpg" alt="Pont Golden Gate" class="special-icon">
          <h3 class="text-center">Barri Castro</h3>
          <p>
            El Barri de Castro de San Francisco t'atreu amb la seva vibració única i acollidora, ple de cultura LGBTQ+ i gastronomia deliciosa.
          </p>
        </div>
    </div>
  </div>


</section>