<section id="home-c" class="text-center padding-4 home-c ">
  <div class="container" >
      <h2 class="section-tittle">
        Descobrint la magia de San Francisco
      </h2>
      <div class="boto-line"></div>
      <p class="lead">
        San Francisco és una ciutat que enamora a primera vista. Amb el seu paisatge costaner, el Golden Gate Bridge, Alcatraz i Fisherman's Wharf són parades obligatòries. A més, l'escena esportiva i cultural, amb equips com els Warriors i els Giants, ofereixen emocionants experiències locals. Els parcs naturals propers, com Yosemite i Muir Woods, ofereixen un refugi tranquil de la vida urbana. Amb una gastronomia deliciosa i un clima agradable, San Francisco és una escapada perfecta per connectar amb la natura i gaudir de la vida urbana alhora.
      </p>
      <div id="adsfew"  class="home-c__process">
        <div>
          <i class="fas fa-plane-arrival fa-3x home-c__process__icon margin-2">
            <div class="home-c__process__step">
              2
            </div>
            
          </i>
          <h3>Aeroport</h3>
            <p>A la zona de la Badia de San Francisco, hi ha dos aeroports principals: Aeroport Internacional de San Francisco i el Aeroport Internacional d'Oakland  </p>
        </div>
        <div>
          <i class="fas fa-map-marked-alt fa-3x home-c__process__icon margin-2">
            <div class="home-c__process__step">
              &infin; 
            </div>
          </i>
          <h3>Llocs d'interés</h3>
          <p>Descobreix San Francisco: Golden Gate Bridge, Alcatraz, Fisherman's Wharf, Lombard Street, Parc Golden Gate i molts més</p>

        </div>

        <div>
          <i class="fa-solid fa-basketball fa-3x home-c__process__icon margin-2">
            <div class="home-c__process__step">
              2
            </div>
          </i>
          <h3>Esports</h3>
          <p>San Francisco té equips esportius destacats: Warriors (basquet) i Giants (beisbol), amats per fans locals i internacionals</p>

        </div>       
        
        <div>
          <i class="fa-solid fa-person-hiking fa-3x home-c__process__icon margin-2">
            <div class="home-c__process__step">
              3
            </div>
          </i>
          <h3>Parcs</h3>
          <p>Prop de San Francisco, troba els parcs naturals de Yosemite, Muir Woods i Point Reyes, oferint impressionants rutes de senderisme per als entusiastes.</p>

        </div>  
      </div>
  </div>
</section>