<section id="home-d" class="home-d">
    <h2>Preguntes frequents</h2>
  
    <details>
      <summary>Quina és la millor època per visitar San Francisco?</summary>
      <p>La millor època per visitar San Francisco és durant la primavera (abril-maig) o la tardor (setembre-octubre) ja que les temperatures són agradables i hi ha menys turistes. </p>
    </details>
  
    <details>
      <summary>Necessito un visat per viatjar a San Francisco?</summary>
      <p>Els ciutadans de la majoria de països europeus, inclosa Espanya, poden viatjar a San Francisco sense visat a través del Programa d'Exempció de Visat (ESTA). Tingues en compte que l'ESTA s'ha de sol·licitar en línia abans de viatjar.</p>
    </details>
  
    <details>
      <summary>Com puc desplaçar-me per San Francisco?</summary>
      <p>San Francisco disposa d'un extens sistema de transport públic que inclou autobusos, tramvies, el metro (BART) i els famosos "cable cars". També pots fer servir taxis o serveis de transport com Uber o Lyft.</p>
    </details>
  
    <details>
      <summary>Quines atraccions turístiques no em puc perdre?</summary>
      <p>Algunes de les atraccions turístiques imprescindibles a San Francisco inclouen el Golden Gate Bridge, Alcatraz, Fisherman's Wharf, Chinatown i els turons de la ciutat.</p>
    </details>
  
    <details>
      <summary>És San Francisco una ciutat cara?</summary>
      <p>Sí, San Francisco és una ciutat bastant cara, especialment en termes d'allotjament i menjar. Has de preparar-te per pagar preus alts.</p>
    </details>
  
    <details>
      <summary>Quin tipus de roba hauria de portar?</summary>
      <p>El temps a San Francisco pot ser imprevisible, així que és millor portar roba per capes. Fins i tot a l'estiu, pot ser necessari portar una jaqueta lleugera. </p>
    </details>
  
    <details>
      <summary>Hi ha zones perilloses a San Francisco?</summary>
      <p>Com la majoria de grans ciutats, San Francisco té algunes zones on és millor ser previngut, especialment de nit. Evita zones com el Tenderloin i parts de Mission District.</p>
    </details>
  </section>