<section id="home-b" class="home-b" class="text-center padding-4">
  <h2 class="section-title"> Dades de San Francisco</h2>
  <div class="boto-line"> </div>
  <div class="stats">
    <div>
      <ul  class="text-center" >
        <li  ><i class=" fa-brands fa-avianex fa-4x"></i></li>
        <li class="stats__title">Visitants</li>
        <li class="stats__number">+1.000.000</li>
      </ul>
    </div>
    <div>

      <ul>
        <li><i class="fa-solid fa-hotel  fa-4x"></i></li>
        <li class="stats__title">Hotels</li>
        <li class="stats__number">+87.000</li>
      </ul>
    </div>

    <div>
      <ul>
        <li><i class="fa-solid fa-coins  fa-4x"></i></li>
        <li class="stats__title">Moneda</li>
        <li class="stats__number">Dolar</li>
      </ul>

    </div>
    
    <div>
      <ul>
        <li><i class="fa-regular fa-clock   fa-4x"></i></li>
        <li class="stats__title">Hores de Vol</li>
        <li class="stats__number">14</li>
      </ul>

    </div>
  </div>


</section>