<section id="home-e" class="home-e">
    <div  class="text-center pading-3">
      <div class="container">
        <h2 class="section-title">Galeria d'imatges format 2</h2>
        <p class="lead"> Galeria d'imatges de San Francisco</p>
        <div class="home-e__items">


            <div class="home-e__items__item">
              <div class="home-e__items__item__image">
                <img src="./assets/images/alcatraz-General2.jpg" alt="Alcatraz">
              </div>
              <div class="home-e__items__item__text">
                <div class="home-e__items__item__text__wrap">
                  <p class="home-e__items__item__text__category">
                    Presó històrica a San Francisco Bay
                  </p>
                  <h3 class="home-e__items__item__text__tit">Alcatraz </h3>
                </div>
              </div>
            </div>

            <div class="home-e__items__item">
              <div class="home-e__items__item__image">
                <img src="./assets/images/Barri_Castro_Mural.jpg" alt="Barri Castro">
              </div>
              <div class="home-e__items__item__text">
                <div class="home-e__items__item__text__wrap">
                  <p class="home-e__items__item__text__category">
                    Conegut per la seva vibrància LGBTQ+ i cultura diversa
                  </p>
                  <h3 class="home-e__items__item__text__tit">Barri Castro </h3>
                </div>
              </div>
            </div>

            <div class="home-e__items__item">
              <div class="home-e__items__item__image">
                <img src="./assets/images/chinatown.jpg" alt="Xina Town">
              </div>
              <div class="home-e__items__item__text">
                <div class="home-e__items__item__text__wrap">
                  <p class="home-e__items__item__text__category">
                    Una experiència vibrant amb autèntica cuina, mercats i cultura xinesa.
                  </p>
                  <h3 class="home-e__items__item__text__tit">Xina Town </h3>
                </div>
              </div>
            </div>

            <div class="home-e__items__item">
              <div class="home-e__items__item__image">
                <img src="./assets/images/Haight-Ashbury_General.jpg" alt="Haight-Ashbury">
              </div>
              <div class="home-e__items__item__text">
                <div class="home-e__items__item__text__wrap">
                  <p class="home-e__items__item__text__category">
                    Lloc emblemàtic de la contracultura i atmosfera bohèmia.
                  </p>
                  <h3 class="home-e__items__item__text__tit">Haight Ashbury </h3>
                </div>
              </div>
            </div>

            <div class="home-e__items__item">
              <div class="home-e__items__item__image">
                <img src="./assets/images/PontGoldenGate1.jpg" alt="PontGoldenGate">
              </div>
              <div class="home-e__items__item__text">
                <div class="home-e__items__item__text__wrap">
                  <p class="home-e__items__item__text__category">
                    Pont majestuós amb vistes panoràmiques úniques
                  </p>
                  <h3 class="home-e__items__item__text__tit">Golden Gate </h3>
                </div>
              </div>
            </div>

            <div class="home-e__items__item">
              <div class="home-e__items__item__image">
                <img src="./assets/images/City_Hall_Nit.jpg" alt="City_Hall_Nit">
              </div>
              <div class="home-e__items__item__text">
                <div class="home-e__items__item__text__wrap">
                  <p class="home-e__items__item__text__category">
                    City Hall a la nit:  imatge icònica de San Francisco.
                  </p>
                  <h3 class="home-e__items__item__text__tit">City Hall</h3>
                </div>
              </div>
            </div>

        </div>

      </div>
    </div>
  </section>