<section id="home-f" class="home-f"> 
    <h2 class="section-title">Galeria d'imatges </h2>
    <div>
            <img src="./assets/images/alcatraz-General2.jpg" alt="Alcatraz">
          
            <img src="./assets/images/Barri_Castro_Mural.jpg" alt="Barri Castro">
          
            <img src="./assets/images/chinatown.jpg" alt="Xina Town">
          
            <img src="./assets/images/Haight-Ashbury_General.jpg" alt="Haight-Ashbury">
         
            <img src="./assets/images/PontGoldenGate1.jpg" alt="PontGoldenGate">
          
            <img src="./assets/images/City_Hall_Nit.jpg" alt="City_Hall_Nit">
          
    </div>
</section>