<section id="home-a" class="text-center padding-2">
    <div class="container">
      <h2 class="section-title">
        Llocs recomanats
      </h2>
      <div class="boto-line">

      </div>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sunt consequuntur fuga molestiae, adipisci, eius repellendus esse itaque magni ea aliquam illum. Quidem architecto nam ab minima dolor voluptate earum.</p>
      <div class="specials">
          <div>
            <img src="./assets/images/chinatown.jpg" alt="China Town" class="special-icon">
            
          </div>

          <div>
            <img src="./assets/images/alcatraz-ImatgeGeneral.jpg" alt="Alcatraz" class="special-icon">
            
          </div>

          <div>
            <img src="./assets/images/Pont_Golden_Gate_Park_1.jpeg" alt="Pont Golden Gate" class="special-icon">
            
          </div>

          <div>
            <img src="./assets/images/Barri_Castro_PasZebra2.jpg" alt="Pont Golden Gate" class="special-icon">
           
          </div>

          <div>
           <h3>China Town</h3>
            <p>
              Visitar Chinatown a San Francisco és una experiència cultural única que et submergeix en la vibrant comunitat xinesa. Podràs gaudir de gastronomia autèntica, història fascinant i festivitats culturals. 
            </p>
          </div>

          <div>
           <h3>Alcatraz</h3>
            <p>
              Visiteu Alcatraz per explorar la seva història intrigant com a antiga presó federal i gaudir de les impressionants vistes de la badia de San Francisco. 
            </p>
          </div>

          <div>
            <h3>Pont Golden Gate</h3>
            <p>
              El Pont Golden Gate és un símbol icònic de San Francisco que et captiva amb la seva majestuositat i panoràmiques espectaculars de la ciutat i la badia.
            </p>
          </div>

          <div>
           
            <h3>Barri Castro</h3>
            <p>
              El Barri de Castro de San Francisco t'atreu amb la seva vibració única i acollidora, ple de cultura LGBTQ+, gastronomia deliciosa i una vida nocturna vibrant.
            </p>
          </div>


      </div>
    </div>


  </section>