<section id="home-b" class="text-center padding-4">

    <div class="stats">
      <div>
        <ul>
          <li><i class="fa-brands fa-avianex fa-4x"></i></li>
          <li class="stats-title">Visitants</li>
          <li class="stats-number">+1.000.000</li>
        </ul>
      </div>
      <div>

        <ul>
          <li><i class="fa-solid fa-hotel  fa-4x"></i></i></li>
          <li class="stats-title">Hotels</li>
          <li class="stats-number">+87.000</li>
        </ul>
      </div>

      <div>
        <ul>
          <li><i class="fa-solid fa-coins  fa-4x"></i></i></li>
          <li class="stats-title">Moneda</li>
          <li class="stats-number">Dolar</li>
        </ul>

      </div>
      
      <div>
        <ul>
          <li><i class="fa-regular fa-clock   fa-4x"></i></li>
          <li class="stats-title">Hores de Vol</li>
          <li class="stats-number">14</li>
        </ul>

      </div>
    </div>


</section>