<section id="categoria-c" class="text-center padding-4 categoria-c ">
    <div class="container" >
        <h2 class="section-tittle">
         Informació d'interes del concurs
        </h2>
        <div class="boto-line"></div>

        <div   class="categoria-c__process">
          <div>
            <i class="fa-solid fa-cake-candles fa-3x categoria-c__process__icon margin-2">
              <div class="categoria-c__process__step">
                9
              </div>
              
            </i>
            <h3>Nº Participants</h3>
              <p>Sols hi haurà 9 finalistes al concurs</p>
          </div>
          <div>
            <i class="fa-solid fa-trophy fa-3x categoria-c__process__icon margin-2">
              <div class="categoria-c__process__step">
                3 
              </div>
            </i>
            <h3>Premis</h3>
            <p>Els tres millors obtindràn un premi</p>

          </div>

          <div>
            <i class="fa-solid fa-thumbtack fa-3x categoria-c__process__icon margin-2">
              <div class="categoria-c__process__step">
                7
              </div>
            </i>
            <h3>Localitzacions del concurs</h3>
            <p>Les diferents fases dels concursos es celebraran en els 7 pobles</p>

          </div>       
          
          <div>
            <i class="fa-solid fa-user-group fa-3x categoria-c__process__icon m-2">
              <div class="categoria-c__process__step">
                &infin;
              </div>
            </i>
            <h3>Visitants</h3>
            <p>No arribes tard, cada any venen més persones a visitar aquest gran concurs</p>

          </div>  
        </div>
    </div>
  </section>