// Media Query Tablets
@media(max-width:900px){

    .header{
        height: 50vh;
        &-content{
            padding-top: 2.5rem;
            font-size: 1rem;
            
        }
        &__nav{
          flex-direction: column;
          align-items: center;
          ul{
          li{
              padding: 0.6rem;
              font-size: 1rem;
          }
      }
      }
    }

    .home-c__process, .home-a__specials{
      grid-template-columns: repeat(2,1fr);
      gap: 2rem 1rem;
    }

    .home-a{ 
    
        &__specials{

        div{
          margin-bottom: 0;
        }
      }
    }

    

        //Se elimina la galeria que cuando pasas el cursor por encima ya que en tamaño tablet o telefono no tiene sentido
        .home-f{
            margin: 0;
            max-width: 0;
            max-height: 0;
            font-size: 0;
            opacity: 0;
          }



              .home-e{
                
        
                &__items{
                  grid-template-columns: repeat(2, 1fr);
                  gap: 1rem;
                &__item{
                  &__text__category{
                    font-size: 1rem;
                    }

                  &__text__tit{
                    font-size: 2rem;   
                  }
                }

              }
            }
             


              

}
// Media per a telefons

@media(max-width:600px){
  .header{
    height: 50vh;
    .container{
      width: 100%;
      height: 50vh;
      margin: 0;
     }

    &__nav{
         
      ul{  
          grid-template-columns: repeat(3, 1fr); 
        li{
            padding: 0.8rem;
            font-size: 0.8rem;
          }
        }
  }

  &__content{
             
                    padding-top: 1rem;
                    font-size: 1rem;
                     &__h1{
                        font-size: 2rem;
                    }

         }






      }

  .home-a{
        height: 100%;
        margin-bottom: 0;
        &__specials{
         
        }
        .container{
          height: 100%;
        }
      }



//Cambie l'ordenació del css grid, per a telefon faig que nomes tinga un element per columna
      .home-a__specials, .home-b .stats, .home-c__process{
        grid-template-columns: 1fr;
      }

      .home-a__specials{

        grid-gap: 0;
      }


      
      .home-e__items{
        grid-template-columns: repeat(2, 1fr)
      }

        //Se elimina la galita que cuando pasas el cursor por encima ya que en tamaño tablet o telefono no tiene sentido
      .home-f{
        margin: 0;
        max-width: 0;
        max-height: 0;
        font-size: 0;
        opacity: 0;
      }

      .home-e{

        &__items{
         grid-template-columns: 2fr; 
         gap: 1rem;
         font-size: 2rem;
      }
    }

  }