@use "sass:color";
//Configuració inicial
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-TitilliumWeb: "Titillium Web",  'Comic Neue', sans-serif;
$font-family-Comic: 'Comic Neue', "Times New Roman", serif;
$fonsPantalla: #fff;
$website-Amplaria: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;
$back-image: url('../images/PontGoldenGate1.jpg');
$medium-color: #ccc;
$color-secundari:  #fff;


/*
$uoc-corporate: #000078;

$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);
*/
$mqMinWidth: 420px;
$uoc-masterbrand: #73edff;

$tablet: 900px;

$phone: 600px;