/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import variables
 */

@import "variables";
@import "utility";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */
@import "layouts/header";
@import "layouts/home";
@import "layouts/formulari";
@import "layouts/footer";
/**
 * Do NOT include anything else in this file!
 */


//Configuració inicial de la web

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


body {
  display: relative;
  flex-direction: column;
  min-height: 100vh;
  background-color: $fonsPantalla;
  font-family: $font-family-TitilliumWeb;
  font-size: 1rem;
  line-height: 1.6; //Per a que tingen salts de linea els textos
}

//Arregle els hipervincles

a{
  text-decoration: none;
  color:$dark-color;
}

// configure les llistes

ul{
  list-style: none;
}

//Els titiols estaràn en majuscules
h2,h3,h4{
  text-transform: uppercase;
}



// Configuració del logo

#logo{
  width:100px;
  height: 60px;
}



@import "mediaQuery";